<div class="container">
    <div class="row">
        <div class="col-md">
          <app-booking></app-booking>
        </div>
        <div class="col-md">
          <app-slide></app-slide>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <img src="assets/hotel/chica.png" width="400px">
        </div>
        <div class="col-md-4">
            <img src="assets/hotel/logo_hotel.png">
            <p>¡HOSPEDATE CON NOSOTROS!</p>
            <p>En el hotel de mayor historia del bajío.</p>
            <button type="button" class="btn btn-danger">RESERVA AHORA</button>
        </div>
      </div>    
      <div>   
        <br>
       <p>Estaremos encantados de brindarte  la comodidad  y el servicio que mereces</p>
      </div>
      <div class="row">
        <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">MENÚ</h5>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">EVENTOS</h5>
                </div>
              </div>
        </div>
        <div class="col-md">
            <div class="card">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Fissure in Sandstone"/>
                <div class="card-body">
                  <h5 class="card-title">AMENIDADES</h5>
                </div>
              </div>
        </div>
      </div>
      <br>
      <div>
        <img src="assets/hotel/logo_hotel.png" width="50px">
      </div>
      <div>
        <footer>Todos los derechos reservados 2024-2025</footer>
      </div>
</div>
