<carousel>
    <slide>
      <img src="assets/hotel/01.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/hotel/02.jpg" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/hotel/03.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/hotel/04.jpg" alt="third slide" style="display: block; width: 100%;">
      </slide>
  </carousel>